.link {
    color: White;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;  
}

/* Styling for the element with the id "insta" and when we hover above it */
.link:hover {
    color: rgb(39, 190, 102);
}

#contactForm {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

fieldset {
    border: 1px solid white;
    padding: 20px 40px;
    margin-bottom: 2em;
    border-radius: 10px;
}

legend {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
}

dl {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

dt {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

dd {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

input[type="text"], input[type="email"], select, input[type="submit"], input[type="reset"] {
    background-color: rgb(28, 28, 28);
    border: 1px solid white;
    color: white;
    padding: 8px;
    border-radius: 5px;
    width: 300px;
}

input[type="submit"], input[type="reset"] {
    font-weight: bold;
    width: 100px;
}

textarea {
    background-color: rgb(28, 28, 28);
    border: 1px solid white;
    color: white;
    padding: 8px;
    border-radius: 5px;
    width: 600px;
    height: 100px;
}