/* Styling for everything within the body */
body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

/* Styling for the logo */
.logo {
    padding: 20px 20px;
}

/* Styling for the everything within the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    position: relative;
}

/* Styling for the anchor within the nav semantic tag */
nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

/* Styling for the anchor within the nav semantic tag when we hover above it */
nav a:hover {
    color: rgb(39, 190, 102);
}

/* Styling for the unordered list within the nav semantic tag, makes menu nav menu hidden, and makes it smoothly transition when hamburger is toggled */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    background-color: black;
}

/* Styling for the each list item within the nav semantic tag, adds a border to seperate each menu option*/
nav li {
    padding: 15px 20px;
    text-align: center;
}

/* Styling for everything within a section to adjust to small screens */
section {
    color: white;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 2em;
}

/* Styling for specifically the h1 within the section id "intro" */
section h1{
    color: white;
    font-size: 2.2em;
    margin-top: 1.2em;
    margin-bottom: 0.7em;
}

/* Styling for the paragraphs within a section */
section p{
    color: rgb(230, 230, 230);
    font-size: 1.1em;
    margin-top: 0;
    line-height: 1.6;
}

/* Styling for the first letter of paragraphs within a section */
section p::first-letter{
    font-size: 1.2em;
}

/* Styling for anything within the footer */
footer {
    color: rgb(230, 230, 230);
    font-size: 1.0em;
    font-style: italic;
    margin: 1.5em 1.2em;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

/* Styling for any attribute tags within the id "back" for back-to-top link */
#back a{
    color: White;
    text-decoration: none;
    font-weight: bold;
}

/* Styling for the element with the id "back" and when we hover above it */
#back a:hover {
    color: rgb(39, 190, 102);
}

/* Styling to give spacing between the header and the page contents for small screens */
main {
    margin-top: 1em;
}

a:focus, button:focus, input:focus, textarea:focus {
    outline: 3px solid rgb(39, 190, 102);
    outline-offset: 2px;
}

@media (max-width: 589px) {
    
    header {
        flex-direction: column;
        gap:10px;
        overflow: auto;
    }

    .logo {
        padding-bottom: 1px;
    }

    nav ul {
        display: block;
        width: 100%;
        position: absolute;
        top: 100px;
    }

    nav li {
        padding: 20px;
    }

    nav a {
        font-size: 1.1em;
    }

    footer {
        font-size: 0.9em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Styling using media to make 2x2 grid for medium-sized screens */
@media (min-width: 590px) and (max-width: 789px) {

    header {
        flex: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;
    }

    nav ul {
        display: flex;
        position: static;
        background: none;
        width: auto;
        margin: 0;
    }
    
    nav li {
        padding: 30px;
    }

    nav a {
        font-size: 1.2em;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px;
        padding: 20px;
        text-align: center;
    }

    .content section {
        padding: 20px;
    }

    section {
        text-align: center;
        padding: 20px 80px;
        margin-bottom: 0;
        border-radius: 8px;
    }

    section h1 {
        font-size: 2.4em;
    }

    section p {
        font-size: 1.2em;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1em;
    }
}

/* Styling to adjust page to large-sized screens */
@media (min-width: 790px) {

    /* Styling to make the header span the full width */
    header {
        margin: 0 auto;
        padding: 0 20px;
    }

    nav ul {
        position: static;
        display: flex;
        max-height: none;
        background-color: transparent;
    }

    nav li {
        padding: 30px;
        border-top: none;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 40px;
        padding: 20px;
        text-align: center;
    }

    .content section {
        padding: 20px;
    }

    /* Styling for within a section for a large-sized screen */
    section {
        text-align: center;
        padding: 0 80px;
        background-color: transparent;
    }

    section h1 {
        font-size: 3.0em;
        line-height: 1.7;
    }

    section p {
        font-size: 1.2em;
    }

    /* Styling to make the footer centered under 790px width */
    footer {
        font-size: 1.2em;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
